body {
  background-image: url("./assets/BackgroundImg.png");
  background-size: cover;
    font-family: "Zain", sans-serif;

}
@font-face {
  font-family: 'Zain';
  src: url('./assets/font/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
